<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create new User</title>
  </head>
  <body>
    <h1><%= title %></h1>
    <form action="/users/create" method="POST">
      <div class="justify-items-row">
				<div>
					<label for="firstName">First Name</label>
					<input type="text" name="firstName" id="firstName" required />
				</div>
				<div>
					<label for="lastName">Last Name</label>
					<input type="text" name="lastName" id="lastName" required />
				</div>
      </div>
      <div class="justify-items-row">
        <a class="btn" href="/">Back to home</a>
        <input type="submit" value="Submit" />
      </div>
    </form>
  </body>
</html>
