<html>
  <head>
    <title></title>
  </head>
  <body>
    <h1>Your Messages</h1>
    <ul>
      <%- include ('messages', {messages: messages})%>
    </ul>
    <h2>Add a new message:</h2>
    <form action="/new" method="POST">
      <label for="username"></label>
      <input type="text" name="username" id="username" />
      <label for="message"></label>
      <textarea name="message" id="message"></textarea>
      <input type="submit" value="Send message" />
    </form>
  </body>
</html>
