<html>
  <head>
    <title></title>
  </head>
  <body>
    <h1>Your Messages</h1>
    <ul>
      <%- include ('messages', {messages: messages})%>
    </ul>
    <a href="/new">Add message</a>
  </body>
</html>
