<html>
  <head>
    <title>Messages</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div class="messages-wrapper">
      <h1>Your Messages</h1>
      <%- include ('messages', {messages: messages})%>
      <a href="/new">Add message</a>
    </div>
  </body>
</html>
