<ul class="message-list">
	<% messages.forEach(message => { %>
	<li>
		<p style="font-size: 1.25rem;"><%= message.text%></p>
		<span><%= message.user %></span><br>
		<span><%= message.added.toLocaleString() %></span><br>
		<a href="/messages/<%=message.id %>">Open message »</a>
	</li>
	<%})%>
</ul>
